<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <httpRequestBegin>
        <processor patch:before="processor[@type='Sitecore.Pipelines.HttpRequest.ItemResolver, Sitecore.Kernel']" type="Emaar.Pier7.Website.CustomItemResolver,Emaar.Pier7.Website" />
        
       
      </httpRequestBegin>
    </pipelines>
    <linkManager>
      <providers>
        <add name="sitecore">
          <patch:attribute name="type">Emaar.Pier7.Website.CustomLinkManager,Emaar.Pier7.Website</patch:attribute>
        </add>
      </providers>
    </linkManager>
  </sitecore>
</configuration>
