@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<Emaar.Pier7.Website.ViewModel.ColumnNavigationViewModel>
    <!-- ColumnNavigation Root items / top navigation without sub navigation links-->
    @foreach (var columnNavigation in Model.ColumnNavigationItems)
    {
        <li>
            @using (BeginRenderLink(columnNavigation, m => m.InternalLink, isEditable: true))
            {
                @Editable(columnNavigation, x => x.NavigationTitle)
            }


        </li>
    }

