<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!-- 
    Sitecore connection strings.
    All database connections for Sitecore are configured here.
  -->
  <add name="core" connectionString="Data Source=EMRHOSCD1;Initial Catalog=habitat.dev.local_core;Integrated Security=False;User ID=sa;Password=abcd1234$;Connect Timeout=1" />
  <add name="master" connectionString="Data Source=EMRHOSCD1;Initial Catalog=habitat.dev.local_master;Integrated Security=False;User ID=sa;Password=abcd1234$;Connect Timeout=1" />
  <add name="web" connectionString="Data Source=EMRHOSCD1;Initial Catalog=habitat.dev.local_web;Integrated Security=False;User ID=sa;Password=abcd1234$;Connect Timeout=1" />
  <add name="analytics" connectionString="mongodb://localhost:27017/habitat_dev_local_analytics" />
  <add name="tracking.live" connectionString="mongodb://localhost:27017/habitat_dev_local_tracking_live" />
  <add name="tracking.history" connectionString="mongodb://localhost:27017/habitat_dev_local_tracking_history" />
  <add name="tracking.contact" connectionString="mongodb://localhost:27017/habitat_dev_local_tracking_contact" />
  <add name="reporting" connectionString="Data Source=EMRHOSCD1;Initial Catalog=habitat.dev.local_reporting;Integrated Security=False;User ID=sa;Password=abcd1234$;Connect Timeout=1" />
  <add name="reporting.apikey" connectionString="Data Source=EMRHOSCD1;Initial Catalog=habitat.dev.local_reporting.apikey;Integrated Security=False;User ID=sa;Password=abcd1234$;Connect Timeout=1" />
</connectionStrings>