<!DOCTYPE html>
<html>
<head>
    <title>Emaar Technologies</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta content="Emaar Technologies Home" name="description">
    <meta content="Emaar Technologies" name="author">
    <meta content="© 2016 Emaar Technologies " name="Copyright">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta charset="UTF-8">
    <meta content="Data center, Data center Solution, Software Companies, IT Companies, IT Solutions, Software Solutions, Business Solutions, Application Development, Web Application, Computer Software, Software Development Company, Mobile Application Development, Mobile Software Development" name="keywords">
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="css/idangerous.swiper.css" rel="stylesheet" type="text/css" />
    <link href="css/devices.min.css" rel="stylesheet" type="text/css" />
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <link href="css/animate.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="img/favicon.ico" />

    <style>
        .new-block .swiper-container::before {
            background: none;
            content: "";
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 12px;
            z-index: 1;
        }

        .bg {
            position: absolute;
        }

        body.safari .bg {
            position: absolute;
        }
    </style>
    
</head>
<form method="post" runat="server" id="mainform">
        <body data-theme="theme-2">
            <!-- HEADER -->
            <div>
                <!-- LOADER -->
                <div id="loader-wrapper"> <img src="img/theme-2/logo.png" alt="" /> <span></span> </div>
                <div id="content-wrapper">
                    <div class="blocks-container">
                        <!-- Placeholder" -->
                                  
                        <!-- POPUP "VIDEO" -->
                        <div class="video-popup">
                            <span></span> <span></span>
                            <iframe src="#"></iframe>
                            <a href="#"></a>
                        </div>
                        <!-- POPUP "VIDEO" -->
                    </div>
                </div>
            </div>
            <div class="theme-config hidden">
                <div class="title">Select Color:</div>
                <div class="colours-wrapper">
                    <div data-theme="theme-2" style="color: #fbc011;" class="entry active"></div>
                    <div data-theme="theme-2" style="color: #00bbd2;" class="entry"></div>
                    <div data-theme="theme-3" style="color: #4caf50;" class="entry"></div>
                    <div data-theme="theme-4" style="color: #ba68c8;" class="entry"></div>
                    <div data-theme="theme-5" style="color: #d80d0d;" class="entry"></div>
                    <div data-theme="theme-6" style="color: #0045ad;" class="entry"></div>
                    <div data-theme="theme-7" style="color: #dd137b;" class="entry"></div>
                    <div data-theme="theme-8" style="color: #482d1d;" class="entry"></div>
                </div>
                <div class="open"><img src="img/gear-icon.png" alt=""><img src="img/gear-icon.png" alt=""><img src="img/gear-icon.png" alt=""></div>
            </div>
            <div style="position:fixed;width:100%;height:100%;top:0;Background:#FFF;opacity:0.8;z-index: 9;display: none;" class="overlay-container">
                <img src="/img/ajax-loader.gif" style="margin: auto ! important; position: absolute; top: 50%; left: 47%;display:none;">
            </div>
            <script src="js/jquery-2.1.3.min.js"></script>
            <script src="js/bootstrap.min.js"></script>
            <script src="js/idangerous.swiper.min.js"></script>
            <script src="js/global.js"></script>
            <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;language=en"></script>
            <script src="js/map.js"></script>
            <script src="js/subscription.js"></script>
            <script type="text/javascript"> $(function () { var isSafari = /constructor/i.test(window.HTMLElement); if (isSafari) $('body').addClass('safari'); });</script>
        </body>
    </form>
</html>
