<script type='text/javascript'>
var showInstagramGallery = 1;
</script>
<div class='submenu'>
    <ul class='gallery-submenu'>
        <li class='active' rel='lastItem'><a href="#instagram" rel='instagram'>INSTAGRAM</a></li>
    </ul>
</div>
<div class='galleryContainer' id='instagram' style="display: block"></div>
