<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <model>
      <elements>
        <element interface="Emaar.Core.IVisitorSubscriptionElement, Emaar.Core" implementation="Emaar.Core.CustomerDetailElement, Emaar.Core" />
        <element interface="Emaar.Core.IVisitorSubscribtionFacet, Emaar.Core" implementation="Emaar.Core.VisitorSubscriptionFacet, Emaar.Core" />
      </elements>
      <entities>
        <contact>
          <facets>
            <facet name="Contact Details" contract="Emaar.Core.IVisitorSubscribtionFacet, Emaar.Core" />
          </facets>
        </contact>
      </entities>
    </model>    
  </sitecore>
</configuration>
 <!--<pipelines>
      <initialize>
        <processor type="Emaar.Core.EventHandlers, Emaar.Core" method="InitializeFromPipeline" />
      </initialize>
    </pipelines>
    <events>
      <event name="testing:myevent">
        <handler type="Emaar.Core.EventHandlers, Emaar.Core" method="OnMyEvent" />
      </event>
      <event name="testing:myevent:remote">
        <handler type="Emaar.Core.EventHandlers, Emaar.Core" method="OnMyEventRemote" />
      </event>
      <event name="clearcache:remote">
        <handler type="Emaar.Core.ClearCacheEventHandler, Emaar.Core" method="OnClearCacheRemote"/>
      </event>
      <event name="clearcache:myevent">
        <handler type="Emaar.Core.ClearCacheEventHandler, Emaar.Core" method="OnClearCacheRemote"/>
      </event>
    </events>

    <hooks>
      <hook type="Emaar.Core.ClearCacheHook, Emaar.Core"/>
    </hooks>-->