<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <tracking>
      <sharedSessionState  defaultProvider="mongo">
        <providers>
          <clear/>
          <add
            name="mongo"
            type="Sitecore.SessionProvider.MongoDB.MongoSessionStateProvider, 
            Sitecore.SessionProvider.MongoDB"
            connectionStringName="session"
            pollingInterval="2"
            compression="true"
            sessionType="shared"/>
        </providers>

        <manager type="Sitecore.Analytics.Tracking.SharedSessionState.SharedSessionStateManager, Sitecore.Analytics">
          <param desc="configuration" ref="tracking/sharedSessionState/config" />
        </manager>

        <config type="Sitecore.Analytics.Tracking.SharedSessionState.SharedSessionStateConfig, Sitecore.Analytics">
          <param desc="maxLockAge">5000</param>
          <!-- If an item in session state is already locked, this parameter is the time in milliseconds that the system is idle before making another attempt to apply a lock. -->
          <param desc="timeoutBetweenLockAttempts">10</param>
        </config>
      </sharedSessionState>

    </tracking>

  </sitecore>
</configuration>
